doctype html
html(lang="en").no-js
	include includes/head.jade
	body
		//START HEADER
		include includes/header.jade
		//END HEADER
		//START MAIN
		include includes/main.jade
		//END MAIN
		//START FOOTER
		include includes/footer.jade
		//END FOOTER
		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="bower_components/foundation-sites/dist/js/foundation.min.js")
		script(src="bower_components/slick-carousel/slick/slick.min.js")
		script(src="js/image-scale.min.js")
		script(src="js/jquery.matchHeight.js")
		script(src="js/app.js")