//- includes/footer.jade
footer.footer
	div.column.row
		div.row
			nav.desctop-show
				div.medium-7.large-7.column
					ul.menu.menu-main.menu-secondary
						li: a(href="#") home
						li: a(href="#") portfolio      
						li: a(href="#") blog
						li: a(href="#") pages
						li: a(href="#") shop
						li: a(href="#") components
						li: a(href="#") features
				div.medium-5.large-5.column.search-settings
					div.input-holder.input-holder-dark.round
						input.search.round(type="text" placeholder="Search")
						button.btn-search-button(type="submit").radius-round
							i.mdi.mdi-magnify
					ul.settings-menu
						li: a(href="#") 
							i.mdi.mdi-web
							span.text eng
							i.mdi.mdi-chevron-down
			div.small-12.column.mobile-show
				ul.social-list.social-list-background
					li: a(href="#")
						i.fa.fa-facebook(aria-hidden="true")
					li: a(href="#")
						i.fa.fa-twitter(aria-hidden="true")
					li: a(href="#")
						i.fa.fa-vk(aria-hidden="true")
					li: a(href="#")
						i.fa.fa-pinterest-p(aria-hidden="true")
					li: a(href="#")
						i.fa.fa-tumblr(aria-hidden="true")
					li: a(href="#")
						i.fa.fa-dribbble(aria-hidden="true")
				ul.copy
					li © 2016 PASCO
					li All Rights Reserved              