//- includes/head.jade
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	title Pasco
	link(rel="stylesheet" href="css/reset.css")
	link(rel="stylesheet" href="css/font-face.css")
	link(rel="stylesheet" href="bower_components/mdi/css/materialdesignicons.min.css")
	link(rel="stylesheet" href="bower_components/foundation-sites/dist/css/foundation.min.css")
	link(rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css")
	link(rel="stylesheet" href="css/variables.css")
	link(rel="stylesheet" href="css/common.css")
	link(rel="stylesheet" href="css/media.css")