//- includes/header.jade
header.header
	div.top-header
		div.column.row
			div.row.align-justify
				div.medium-4.large-4.columns
					ul.social-list
						li: a(href="#")
							i.fa.fa-facebook(aria-hidden="true")
						li: a(href="#")
							i.fa.fa-twitter(aria-hidden="true")
						li: a(href="#")
							i.fa.fa-pinterest-p(aria-hidden="true")
						li: a(href="#")
							i.fa.fa-vk(aria-hidden="true")
						li: a(href="#")
							i.fa.fa-google-plus(aria-hidden="true")
						li: a(href="#")
							i.fa.fa-behance(aria-hidden="true")
						li: a(href="#")
							i.fa.fa-dribbble(aria-hidden="true")
						li: a(href="#")
							i.fa.fa-instagram(aria-hidden="true")
				div.medium-8.large-8.columns.desctop-show
					ul.settings-menu
						li: a(href="#") 
							i.mdi.mdi-account-circle
							span.text sign in
						li: a(href="#") 
							i.mdi.mdi-web
							span.text eng
							i.mdi.mdi-chevron-down
				div.small-12.columns.mobile-show
					ul.settings-menu
						li.left: a(href="#") 
							i.mdi.mdi-web
							span.text eng
							i.mdi.mdi-chevron-down
						li.right: a(href="#") 
							i.mdi.mdi-account-circle
							span.text sign in
	div.bottom-header
		div.column.row
			div.row
				nav
					div.medium-12.large-2.columns.desctop-show
						h1.logo: a(href="#") Logo
					div.small-8.columns.mobile-show
						h1.logo: a(href="#") Logo
					div.medium-12.large-8.columns.desctop-show
						div.title-bar(data-responsive-toggle="example-menu" data-hide-for="medium")
							button.menu-icon(type="button" data-toggle="example-menu")
							div.title-bar-title
						div.top-bar#example-menu
							div.top-bar-left
								ul.menu.menu-main
									li.active: span home
										i.mdi.mdi-chevron-down
									li: a(href="#") portfolio      
										i.mdi.mdi-chevron-down
									li: a(href="#") blog
										i.mdi.mdi-chevron-down
									li: a(href="#") pages
										i.mdi.mdi-chevron-down
									li: a(href="#") shop
										i.mdi.mdi-chevron-down
									li: a(href="#") components
										i.mdi.mdi-chevron-down
									li: a(href="#") features     
										i.mdi.mdi-chevron-down
					div.medium-12.large-2.columns.desctop-show
						ul.settings-menu.settings-menu-header
							li: a(href="#")
								i.mdi.mdi-magnify
							li: a(href="#")
								i.mdi.mdi-heart-outline
							li: a(href="#")
								i.mdi.mdi-cart
					div.small-4.columns.mobile-show
						ul.settings-menu.settings-menu-header
							li: a(href="#")
								i.mdi.mdi-cart
								span.number.radius-round 
									span 7
					div.medium-12.large-12.columns.mobile-show
						div.title-bar(data-responsive-toggle="example-menu-1" data-hide-for="large")
							button.menu-icon(type="button" data-toggle="example-menu-1")
							div.title-bar-title
						div.top-bar#example-menu-1
							div.top-bar-left
								ul.menu.vertical.menu-vertical-menu-main
									li.active: span home
										i.mdi.mdi-chevron-down
									li: a(href="#") portfolio      
										i.mdi.mdi-chevron-down
									li: a(href="#") blog
										i.mdi.mdi-chevron-down
									li: a(href="#") pages
										i.mdi.mdi-chevron-down
									li: a(href="#") shop
										i.mdi.mdi-chevron-down
									li: a(href="#") components
										i.mdi.mdi-chevron-down
									li: a(href="#") features     
										i.mdi.mdi-chevron-down

					